<?xml version="1.0" encoding="utf-8" ?>
<!-- Copy this file to App.config and put in your own MySQL details -->
<configuration>
  <connectionStrings>
    <add name="InventoryDb"
         connectionString="Server=localhost;Port=3306;Database=inventory_db;Uid=root;Pwd=;SslMode=Disabled;" />
  </connectionStrings>
</configuration>
